<a href="https://colab.research.google.com/github/Amarta113/Amarta113/blob/main/Assignment_01_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List:**

**Create a list named "fruits" containing three different fruits and display its items using for loop.**

In [ ]:
fruits = ["Orange", "Banana", "Apple", "Mango"]

for fruit in fruits:
  print(fruit)

Orange
Banana
Apple
Mango

# **Tuple:**

**Create a tuple named "numbers" with five random numbers and display its item using for loop.**

In [ ]:
numbers = (1, 2, 3, 4, 5)

for number in numbers:
  print(number)

1
2
3
4
5

# **Set:**

**Create a set named "colors" with three different colors and display its items using
for loop.**

In [ ]:
colors = {"Blue", "Green", "Yellow", "White", "Red"}

for color in colors:
  print(color)

White
Red
Blue
Green
Yellow

# **Dictionary:**

**Create a dictionary named "student" with the following key-value pairs:
 "name" as the key and the student's name as the value.
 "age" as the key and the student's age as the value.
 "grade" as the key and the student's grade as the value.
 Iterate over the dictionary using the for loop and display its keys.
 Iterate over the dictionary using the for loop and display its values.**

In [ ]:
student = {"name": "John", "age": 18, "grade": "A"}

for s in student:
  print(student[s])

John
18
A

# **MultiLine String:**

**Create a multi-line string named "poem" with a short poem of your choice.**

In [ ]:
print('''Moonlight whispers on silent waves,
Stars dance in the midnight sky,
Nature's lullaby, a soothing embrace,
Dreams bloom like flowers,
Night's enchantment, a magical trance,
In the quiet, love's chance.''')

Moonlight whispers on silent waves,
Stars dance in the midnight sky,
Nature's lullaby, a soothing embrace,
Dreams bloom like flowers,
Night's enchantment, a magical trance,
In the quiet, love's chance.

# **If else Statement:**

**Write an if statement to check if the length of the "fruits" list is greater than 3. If it
is, print "You have many fruits!".**

In [ ]:
if len(fruits) > 3:
  print("You have many fruits!")

You have many fruits!

**Create a program that takes a student's numerical grade as input and prints a
corresponding letter grade. Use if-else statements to classify the grade into
categories such as "A," "B," "C," "D," or "F."**

In [ ]:
student_grade = int(input("Enter the marks of student "))

if student_grade >= 90:
    print("A")
elif student_grade >= 80 and student_grade < 90:
    print("B")
elif student_grade >= 70 and student_grade < 80:
    print("C")
elif student_grade >= 60 and student_grade < 70:
    print("D")
else:
  print("F")

**Create a program that takes a temperature in Celsius as input from user and
classifies it into categories like "Freezing," "Cold," "Moderate," "Warm," or "Hot."
Use if-else statements to define the temperature ranges for each category.**

In [ ]:
temperature = int(input("Enter temperature in celsius "))

if temperature < -10:
  print("Freezing.")
elif temperature > -10 and temperature < 0:
  print("Cold.")
elif temperature > 0 and temperature < 20:
  print("Moderate.")
elif temperature > 20 and temperature < 30:
  print("Warm.")
elif temperature >= 30:
  print("Hot")

# **For Loop:**

In [ ]:
list = ["panda", "koala", "cat", "fox", "dolphin", "chipmunk"]

for name in list:
  print(name)

In [ ]:
countries = {'Germany', 'America', 'Canada', 'Pakistan', 'China', 'Indonesia'}

for name in countries:
  print(name)

In [ ]:
student_detail = {"Name": "John", "Id" : "3920", "Degree":"Computer Science", "University":"Harvard" }

for key, value in student_detail.items():
  print(key, ": ", value)

Name :  John
Id :  3920
Degree :  Computer Science
University :  Harvard

In [ ]:
id_list = (212, 43, 780, 331, 147)

for num in id_list:
  print("Student id: ", num)

In [ ]:
for number in range(40, 90):
  if number % 2 == 0:
    print(number)

40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88

# **Nested For Loop:**

In [ ]:
person_data = {
    "first name": "David",
    "last name": "Malan",
    "profession": "Computer Scientist",
    "skills": ["Java", "Python", "C", "Web Develpment", "Artificial Intelligence"],
    "country": "New York",
    "address": {
        "street" : "Main Street",
        "zip_code": "04392"
    }
}

for key in person_data:
  if key == "skills":
    for skills in person_data["skills"]:
      print(skills)

#**For Else:**

In [ ]:
for number in range(5, 16):
  print(number)
else:
  print("The loop stop at ", number)

5
6
7
8
9
10
11
12
13
14
15
The loop stop at  15

# **While Loop:**

In [ ]:
number = 0
sum = 0

while number < 100:
  sum = sum + number
  if number == 99:
    print(sum)
  number += 1

4950